@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "CardView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-img-top {
        width: 220px;
        height: 326px;
        object-fit: cover;
    }
</style>

<h2>Movies Card View</h2>


<div class="col-12">
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="card" style="width:250px;">
                <div class="card-body">
                    <div style="text-align:center"><h4 class="card-title">@movie.Name</h4></div>
                    <hr />
                    <img class="card-img-top img-fluid img-thumbnail mx-auto d-block" src="@movie.imageURL" alt="@movie.Name" />
                    <hr />
                    <h6 class="card-subtitle mb-2 text-muted">Genre</h6>
                    <p class="card-text">@movie.Genre.Name</p>
                    <h6 class="card-subtitle mb-2 text-muted">Release Date</h6>
                    <p class="card-text">@movie.ReleaseDate.ToString("MM/dd/yyyy")</p>
                    <h6 class="card-subtitle mb-2 text-muted">Date Added</h6>
                    <p class="card-text">@movie.DateAdded</p>
                    <h6 class="card-subtitle mb-2 text-muted">Number in Stock</h6>
                    <p class="card-text">@movie.NumberInStock</p>
                    @Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, new { @class = "btn btn-sm btn-success" })
                </div>
            </div>
        }
    </div>
</div>